# NOTE: This I2P config file must use UTF-8 encoding
i2np.lastCountry=gb
i2np.lastIP=94.10.115.66
i2np.lastIPChange=1454100802229
i2np.udp.internalPort=30673
i2np.udp.port=30673
router.firstInstalled=1415572412620
router.firstVersion=0.9.16
router.inboundPool.randomKey=6Cfa8s4-P1IjEgnqJTJAvOCi9qddu7BPOOZ1VIvKWH4=
router.outboundPool.randomKey=XXSbbLGt66M2LNclQv4mxWoGuQPrq9Qsg2w0kXfostY=
router.passwordManager.migrated=true
router.previousVersion=0.9.23
router.updateDisabled=true
router.updateLastInstalled=1415572412620
routerconsole.newsLastChecked=1454150901815
routerconsole.newsLastUpdated=1453936523000
